venv/
.vscode/

ig_dataset/
src/clouds/*.ply
src/data/
src/models/
src/pcl_results/
src/multiscene_results/

occupancy_network/build
occupancy_network/external

*.json
*.npy
*.urdf

# Byte-compiled / optimized / DLL files
src/__pycache__/
*.py[cod]
*$py.class
*.pyc